<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <p class="govuk-body">
      You can add more sentences to the convictions you’ve told us about on this page. You will be able to add more convictions later.
    </p>

    <%= render @presenter.summary %>

    <h2 class="govuk-heading-m">Add a separate caution or conviction</h2>

    <%= button_to 'Enter a new caution or conviction', checks_path,
                  class: 'govuk-button govuk-button--secondary',
                  data: { module: 'govuk-button', 'prevent-double-click': true } %>

    <%= link_button :results_page, steps_check_results_path(show_results: true), class: 'govuk-button govuk-!-margin-top-5' %>
  </div>
</div>
