<% title t('.page_title') %>

<div class="govuk-width-container">
  <%= step_header %>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What you've told us</h1>

        <p class="govuk-body">Here’s what you’ve told us so far. You can check the information you’ve entered is correct before choosing to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>add a sentence to an existing conviction – for example, if you were given a community order and a fine for a single offence)</li>
          <li>enter a separate caution or conviction – for example, if you were convicted for an unrelated offence</li>
          <li>continue to the results page, if you have no more cautions, convictions or sentences to check</li>
        </ul>

        <p class="govuk-heading-m">Your cautions or convictions</p>

        <dl class="govuk-summary-list">
           <%= render @presenter.summary %>
        </dl>
      </div>
    </div>

  </main>
</div>
