<% title 'About this trial' %>

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= error_summary %>

        <h1 class="govuk-heading-xl">
          Help us test a new service for under-18s
        </h1>

        <p class="govuk-body">
          Over the past few months, the User-Centred Policy Design (UCPD) team at the Ministry of Justice has been looking at ways to improve the information and guidance available to young people who have criminal records.
        </p>

        <p class="govuk-body">
          Our research has shown that young people don’t always understand:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>what convictions they’ve been given</li>
          <li>when convictions will become spent</li>
          <li>if and when they need to disclose convictions to people</li>
        </ul>

        <p class="govuk-body">
          To help young people understand their criminal records, we’ve started working on an online service that calculates when their cautions or convictions become spent.
        </p>

        <p class="govuk-body">
          The aim is to help people find out whether they need to disclose cautions or convictions to organisations such
          as employers, colleges or insurance companies.
        </p>

        <p class="govuk-body">
          Some YOTs have already contributed towards this service and we’re really grateful for all the feedback and
          advice we’ve been given.
        </p>

        <p class="govuk-body">
          We’ve also published <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record">some detailed guidance about disclosing criminal records</a> on GOV.UK, which has received a lot of positive feedback.
        </p>

        <h2 class="govuk-heading-m">
          About the service we’re piloting
        </h2>

        <p class="govuk-body">
          <strong><%= service_name -%></strong> asks people what type of caution or conviction they were given and when they were given
          it. It then gives the user the date on which it becomes spent.
        </p>

        <p class="govuk-body">
          Benefits of the service include it being:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>free to use</li>
          <li>written in plain English</li>
          <li>run by the Ministry of Justice</li>
          <li>compliant with government’s online accessibility standards</li>
          <li>completely anonymous (we don’t ask for any personal details that can be used to identify someone)</li>
        </ul>

        <div class="govuk-inset-text">
          The service currently calculates only one caution or conviction at a time. We’re planning to add the ability
          to calculate multiple convictions later.
        </div>

        <h2 class="govuk-heading-m">
          How you can help
        </h2>

        <p class="govuk-body">
          We’re now at the stage where we’d like young people across the country to start interacting with the service,
          with the support of their YOT worker.
        </p>

        <p class="govuk-body">
          <strong>
            Please could you take a few minutes to walk as many young people as possible through the
            service to find out when their cautions or convictions become spent.
          </strong>
        </p>

        <p class="govuk-body">
          This could be used as part of your existing process for when a young person is coming to the end of their time
          with the YOT.
        </p>

        <p class="govuk-body">
          We hope that the service can be used to help you explain:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>what type of caution or conviction someone was given</li>
          <li>when the caution or conviction becomes spent</li>
          <li>who is entitled to know this information once it becomes spent</li>
        </ul>

        <p class="govuk-body">
          Everyone in your team is welcome to pilot the service with as many young people as they like. We really need YOT workers to sit alongside the young people in order to get a feel for how they use the service and any problems they encounter.
        </p>

        <p class="govuk-body">
          Alternatively, YOT workers can test the service themselves to see how it works and make any suggestions if they think it can be improved.
        </p>

        <div class="govuk-inset-text">
          If you haven't been sent an email inviting you to take part in this pilot, email <a href="mailto:disclosure.checker@digital.justice.gov.uk">disclosure.checker@digital.justice.gov.uk</a> and you'll be sent a password to access the service.
        </div>

        <h2 class="govuk-heading-m">
          What we’d like to know
        </h2>

        <p class="govuk-body">
          We’re really interested in finding out if young people understand:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>what the service is for</li>
          <li>the questions we’re asking</li>
          <li>what they can do with the information they’re given at the end</li>
        </ul>

        <p class="govuk-body">
          We’re also really keen to get your feedback as a YOT worker with a lot of expertise in this field. We
          especially need to know if the result given at the end of the service is incorrect.
        </p>

        <h2 class="govuk-heading-m">
          What you need to know
        </h2>

        <p class="govuk-body">
         As the service is currently being piloted, we cannot guarantee that the result given at the end of the service will be correct.
        </p>

         <p class="govuk-body">
          If you choose to take part in our pilot, please let any young people know if the spent date that’s given at the end of the service is different to the date that you would have given them, and send us feedback that the result is incorrect.
        </p>

        <%= link_button :visit_pilot, root_path, class: 'govuk-button govuk-!-margin-top-2' %>
      </div>
    </div>

  </main>
</div>
