<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="<%= ga_label %>">
      <%=t ['.', local_assigns[:i18n_scope], :title].compact.join('.') %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <%=t ['.', local_assigns[:i18n_scope], :body_html].compact.join('.') %>
  </div>
</details>
