<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= title_string(expiry_date, 'conviction') %>
  </h1>
  <div class="govuk-panel__body">
    <%= statement_string(expiry_date, 'conviction') %>
  </div>
</div>
