<% track_transaction name: 'Conviction check completed', category: 'Completed checks', dimensions: { spent: ga_spent?(expiry_date) } %>

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= title_string(expiry_date, 'conviction') %>
  </h1>
  <div class="govuk-panel__body">
    <%= statement_string(expiry_date, 'conviction') %>
  </div>
</div>

<h2 class="govuk-heading-m govuk-!-margin-top-5">How this date has been worked out</h2>

<p class="govuk-body">The date your conviction becomes spent is based on:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the information you’ve given us</li>
  <li>the current law on <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/guidance/rehabilitation-periods">rehabilitation periods</a></li>
</ul>

<p class="govuk-body">
  This table shows the information you provided, which was used to work out the date your conviction becomes spent. If you entered any incorrect information, the date it becomes spent will be incorrect.
</p>
