<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= conviction_title_string(expiry_date) %>
  </h1>
  <div class="govuk-panel__body">
    <%= conviction_statement_string(expiry_date) %>
  </div>
</div>
