<% title '' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render partial: @presenter, locals: { expiry_date: @presenter.expiry_date } %>

        <dl class="govuk-summary-list">
          <%= render @presenter.summary %>
        </dl>

        <p class="govuk-body">
          If you need to change any information, or if you have another caution or conviction you’d like to
          check, <%= link_to 'use the service again', root_path, class: 'govuk-link ga-pageLink', data: { ga_category: 'results', ga_label: 'new check' } %>.
        </p>
      </div>
    </div>
  </main>
</div>
