<% title 'Sorry, we cannot tell you when your conviction is spent' %>

<div class="govuk-width-container">
  <%= step_header %>

  <main id="main-content" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, we cannot tell you when your conviction is spent</h1>

        <p class="govuk-body">You've said that you have not paid the full compensation you were ordered to pay.</p>
        <p class="govuk-body">Your conviction will not become spent until the compensation has been paid in full.</p>
      </div>
    </div>

  </main>
</div>
