<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
  <%= "#{t("kind.#{check.check_group_name}", scope: check.scope)} #{check.number}"%>
</h2>

<%= render check.spent_date_panel if check.spent_date %>

<%= render check.summary %>

<p class="govuk-body govuk-!-margin-top-1">
  If you were given more than one sentence as part of this conviction you must add it now.
</p>

<% if check.add_another_sentence_button? %>
  <div class="govuk-button-group govuk-!-margin-bottom-6">
    <%= button_to 'Add another sentence', check_group_path(check.check_group),
                        class: 'govuk-button govuk-button--secondary',
                        data: { module: 'govuk-button', 'prevent-double-click': true } %>
  </div>
<% end %>
