<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
  <%= "#{check.number}. #{t("kind.#{check.check_group_name}", scope: check.scope)}"%>
</h3>

<div class="govuk-inset-text govuk-!-margin-top-2">

  <%= render check.summary %>

  <% if check.add_another_sentence_button? %>
    <div class="govuk-!-margin-top-1">
      <%= button_to 'Add another sentence to this conviction', check_group_path(check.check_group),
                          class: 'govuk-button govuk-button--secondary',
                          data: { module: 'govuk-button', 'prevent-double-click': true } %>
    </div>
  <% end %>
</div>
