<% title "Sorry, we cannot tell you when your caution expires" %>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, we cannot tell you when your caution expires</h1>

        <p class="govuk-body-l">
          You've said that you broke the conditions of your caution. This usually leads to further action being taken by the police, such as prosecution for the original offence.
        </p>
        <p class="govuk-body-l">
          Because we don't know what further action was taken, we cannot tell you when your caution expires.
        </p>

        <h2 class="govuk-heading-l">If you were convicted</h2>

        <p class="govuk-body-l">
          If you were convicted after breaking the conditions of your caution, you can <a class="govuk-link" href='/'>use the service again</a> and select conviction instead of caution.
        </p>

      </div>
    </div>

  </main>
</div>
