<% title '' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <%= service_name %>
        </h1>

        <p class="govuk-body-l">
          Use this service to check when a caution or conviction becomes spent in England and Wales. When a caution or
          conviction is ‘spent’ it means you do not need to tell people about it if they ask for a basic criminal record check.
        </p>

        <div class="govuk-inset-text">
          You can only check one caution or conviction at a time.
        </div>

        <p class="govuk-body">
          You'll need to know the type of caution or conviction you were given, and when. If you do not know this information, you can read general guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#expire" rel="external" target="_blank">when cautions and convictions become spent</a>.
        </p>

        <p class="govuk-body">
          You cannot use this service yet if you:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>are over 18</li>
          <li>were released on bail</li>
          <li>have been convicted of a motoring offence</li>
        </ul>

        <%= link_to edit_steps_check_kind_path, class: 'govuk-button govuk-button--start govuk-!-margin-top-2', data: { module: 'govuk-button' }, role: 'button', draggable: false do %>
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        <% end %>
      </div>
    </div>
  </main>
</div>
