<% title '' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check when a caution or conviction expires</h1>

        <p class="govuk-body">Use this service to check when a caution or conviction expires (when it becomes ‘spent’).</p>

        <div class="govuk-inset-text">
          You do not need to tell anyone about an expired caution or conviction unless <a href="#">an exception applies</a>
        </div>

        <%= link_to 'Start now', edit_steps_check_kind_path, class: 'govuk-button govuk-button--start', role: 'button', draggable: false %>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related content</h3>
        <p class="govuk-body">Links will go here</p>
      </div>
    </div>
  </main>
</div>
