<% title 'Test' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Check when a caution or conviction expires
    </h1>

    <p>Use this service to check when a caution or conviction expires (when it becomes ‘spent’).</p>
    
    <div role="note" aria-label="Information" class="panel panel-border-wide info-notice">
      <p>You do not need to tell anyone about an expired caution or conviction unless <a href="#">an exception applies</a>.</p>
    </div>

    <div class="form-submit">
      <%= link_to 'Check now', edit_steps_check_kind_path, class: 'button button-start', role: 'button' %>
    </div>
  </div>
</div>
