<% title '' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <%= service_name %>
        </h1>

        <p class="govuk-body">
          Use this service to check when a caution or conviction becomes spent in England and Wales.
        </p>

        <div class="govuk-inset-text">
          You can only check one caution or conviction at a time.
        </div>

        <p class="govuk-body">
          To use this service you’ll need to know:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>which type of caution or conviction you were given</li>
          <li>the date your caution or conviction began</li>
          <li><%= link_to 'how to use the information this service gives you', about_terms_and_conditions_path(anchor: "using-guidance"), class: 'govuk-link ga-pageLink', data: {ga_category: 'home', ga_label: 'terms and conditions'} %></li>
        </ul>

        <p class="govuk-body">
          If you can’t use this service you can read
          <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#expire" class="govuk-link" rel="external" target="_blank">guidance
            on when cautions and convictions become spent</a>.
        </p>

        <%= link_to 'Start now', edit_steps_check_kind_path, class: 'govuk-button govuk-button--start', role: 'button', draggable: false %>
      </div>
    </div>
  </main>
</div>
