<% title '' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <%= service_name %>
        </h1>

        <p class="govuk-body-l">
          Use this service to check when a caution or conviction becomes spent in England and Wales. When a caution or
          conviction is ‘spent’ it means you do not need to tell people about it if they ask for a basic criminal record check.
        </p>

        <p class="govuk-body">
          You can only check one caution or conviction at a time.
        </p>

        <div class="govuk-inset-text">
          If you have more than one caution or conviction, the result this service gives you may not be correct.
        </div>

        <p class="govuk-body">
          To use this service you’ll need to know:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the type of caution or conviction you were given</li>
          <li>the date your caution or conviction began</li>
        </ul>

        <p class="govuk-body">
          If you don’t have this information you can either:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>read
            <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#expire" class="govuk-link" rel="external" target="_blank">guidance
              on when cautions and convictions become spent</a></li>
          <li>enter approximate dates into this service</li>
        </ul>

        <p class="govuk-body">
          If you enter approximate dates, you will not be given the exact date your caution or conviction will become spent.
        </p>

        <%= link_to edit_steps_check_kind_path, class: 'govuk-button govuk-button--start govuk-!-margin-top-2', data: { module: 'govuk-button' }, role: 'button', draggable: false do %>
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        <% end %>
      </div>
    </div>
  </main>
</div>
