<% title '' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <%= service_name %>
        </h1>

        <p class="govuk-body">
          Use this service to check if you need to tell people (such as employers or colleges) about a caution or
          conviction.
        </p>

        <p class="govuk-body">
          Most cautions and convictions become spent after a certain length of time.
        </p>

        <p class="govuk-body">
          You do not normally need to tell anyone about them after they become spent, but
          <a href="https://ex-offenders.glitch.me/guidance-draft.html#background-checks" class="govuk-link" target="_blank">some jobs</a> need
          a full criminal background check.
        </p>

        <div class="govuk-inset-text">
          You will not be asked for any personal information (such as your name or address) when using the service.
        </div>

        <%= link_to 'Start now', edit_steps_check_kind_path, class: 'govuk-button govuk-button--start', role: 'button', draggable: false %>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">
          To use this service you need to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>live in England or Wales</li>
          <li>know the type of caution or conviction you were given</li>
          <li>know the date you were cautioned or convicted</li>
        </ul>

        <p class="govuk-body">
          If you don’t have this information you can read the
          <a href="https://ex-offenders.glitch.me/guidance-draft.html" class="govuk-link" target="_blank">guidance on when cautions and
            convictions become spent</a>.
        </p>

        <p class="govuk-body">
          If you have more than one caution or conviction on your criminal record, you’ll need to work out the expiry
          date of each one separately.
        </p>
      </div>
    </div>
  </main>
</div>
