<% title "Sorry, you can't use this service yet" %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, you cannot use this service yet</h1>
        <p class="govuk-body">This service is currently in <a href="https://www.gov.uk/help/beta">beta</a>. It can only be used by people who were under 18 when they were cautioned or convicted.</p>
        <p class="govuk-body">The service will be available to over-18s later this year.</p>
      </div>
    </div>
  </main>
</div>
