<table class="govuk-table">
  <caption class="govuk-table__caption"><%= table_type %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Reference</th>
      <th scope="col" class="govuk-table__header">Opted out</th>
      <th scope="col" class="govuk-table__header">Access count</th>
       <th scope="col" class="govuk-table__header">First access at</th>
      <th scope="col" class="govuk-table__header">Last access at</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% results.each do |participant| %>
      <%= render partial: 'participant_row', locals: { participant: participant } %>
    <% end %>
  </tbody>
</table>
