<% title 'Back office: Opted in/out participants' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <h1 class="govuk-heading-xl">
        Opted in/out participants
      </h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#all">
              All participants
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#opted-in">
              Opted in
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#opted-out">
              Opted out
            </a>
          </li>
        </ul>

        <section class="govuk-tabs__panel" id="all">
          <h2 class="govuk-heading-l">All participants</h2>
          <%= render partial: 'participant_table', locals: {results: @opted_out_participants + @opted_in_participants, table_type: "All participants #{(@opted_out_participants + @opted_in_participants) .count}"} %>
        </section>

        <section class="govuk-tabs__panel" id="opted-in">
          <h2 class="govuk-heading-l">Opted in</h2>
          <%= render partial: 'participant_table', locals: {results: @opted_in_participants, table_type: "Opted in participants #{@opted_in_participants.count}"} %>
        </section>

        <section class="govuk-tabs__panel" id="opted-out">
          <h2 class="govuk-heading-l">Opted out</h2>
          <%= render partial: 'participant_table', locals: {results: @opted_out_participants, table_type: "Opted out participants #{@opted_out_participants.count}"} %>
        </section>
      </div>
    </div>
  </main>
</div>
