<%% title t('.page_title') %>

<div class="govuk-width-container">
  <%%= step_header %>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"><%%=t '.heading' %></h1>

        <p class="govuk-body-l"><%%=t '.lead_text' %></p>

        <!-- TODO: Add the copy needed, and adapt the button linking to another step -->

        <%%= link_to t('.continue'), '#', class: 'govuk-button', role: 'button', draggable: false %>
      </div>
    </div>

  </main>
</div>
