<%% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%%=t '.heading' %></h1>

    <p class="lede"><%%=t '.lead_text' %></p>

    <!-- TODO: Add the copy needed, and adapt the button linking to another step -->

    <div class="xform-group form-submit">
      <%%= link_to t('.continue'), '#', class: 'button', role: 'button' %>
    </div>
  </div>
</div>
