<% title "Sorry, you can't use this service yet" %>
<% track_transaction name: 'Motoring', category: 'Kickouts' %>

<div class="govuk-width-container">
  <%= step_header %>

  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, you cannot use this service yet</h1>
        <p class="govuk-body">This service is currently in <a href="https://www.gov.uk/help/beta" rel="external" class="govuk-link">beta</a>.</p>
      </div>
    </div>
  </main>
</div>
