<% title "Sorry, you can't use this service yet" %>
<% track_transaction name: 'Motoring', category: 'Kickouts' %>

<div class="govuk-width-container">
  <%= step_header %>

  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Spent dates for this type of offence are not available yet</h1>
        <p class="govuk-body">Motoring offences are not yet included in the pilot phase of this online tool.</p>
      </div>
    </div>
  </main>
</div>
