<% title t('.page_title') %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

        <p class="govuk-body"><%=t '.lead_text' %></p>

        <%= link_button :start_again, root_path %>
      </div>
    </div>

  </main>
</div>
