<% title t('.page_title') %>
<% step_header(path: ExternalUrl.govuk_check_your_conviction_caution_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :kind, CheckKind.values, :value, nil %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
