<h2 class="govuk-heading-m" id="disclaimer">
  How to use this information
</h2>

<p class="govuk-body">
  As you’ve not been asked for specific details about your caution or conviction, this service can only give you general guidance about when it becomes spent.
</p>

<p class="govuk-body">The result you’ve been given might be wrong if you:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>entered any incorrect information, such as approximate dates</li>
    <li>did not serve your sentence in full as the court ordered you to</li>
    <li>did not stick to the conditions of your sentence</li>
    <li>have more than one caution or conviction</li>
    <li>were released on bail at any time</li>
</ul>

<div class="govuk-inset-text">
  Some spent cautions and convictions are
  <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/government/publications/dbs-filtering-guidance">’protected’
    or ‘filtered’</a> and will not show up on a standard or enhanced
  criminal record check.
</div>

<p class="govuk-body">
  If you plan to use the information this service has given you to decide whether or not to disclose a caution or conviction on your criminal record, it’s recommended that you first get specific professional or legal advice.
</p>
