<h2 class="govuk-heading-m">
  Using the information you've been given
</h2>

<p class="govuk-body">
  As you’ve not been asked for specific details about your caution or conviction, this service can only give you general
  guidance about when it becomes spent.
</p>

<p class="govuk-body">
  If you’ll be using the information this service has given you to decide whether or not to disclose a caution or
  conviction on your criminal record, it’s recommended that you first get specific professional or legal advice.
</p>
