<h2 class="govuk-heading-m" id="disclaimer">
  Using your results
</h2>

<p class="govuk-body">
  As you’ve not given specific details about your caution or conviction, this result is general guidance only.
</p>

<p class="govuk-body">This result may be wrong if you:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>entered any incorrect information, such as approximate dates</li>
    <li>did not serve your sentence in full as the court ordered you to</li>
    <li>did not stick to the conditions of your sentence</li>
    <li>have more than one caution or sentence for one conviction</li>
</ul>

<p class="govuk-body">
  If you're not sure if you should tell people about a caution or conviction,
  you should consider getting specific legal advice. This checker offers general guidance only.
</p>

<p class="govuk-body">
  If you need to change any information, or if you have another caution or conviction you’d like to check,
  start a new check.
</p>

<%= link_button :restart_check, root_path(new: 'y'), class: 'govuk-button ga-pageLink govuk-!-margin-top-2',
                data: { module: 'govuk-button', ga_category: 'results', ga_label: 'new check' } %>
