<div class="govuk-inset-text">
  Your result is for guidance only. Before you decide whether to tell people about your caution or conviction, read <a class="govuk-link" href="#disclaimer">using your results</a>.
</div>
