<h2 class="govuk-heading-m">
  If a basic criminal record check is requested
</h2>

<p class="govuk-body">
  When a caution or conviction is spent you do not need to tell people about it,
  or the offence that led to it, if they request a basic criminal record check.
</p>

<h2 class="govuk-heading-m">
  If a standard or enhanced criminal record check is requested
</h2>

<p class="govuk-body">
  You will need to tell people about spent cautions or convictions if they request a standard or enhanced criminal record check.

  Read more about DBS checks and
  <a class="govuk-link" rel="external" target="_blank"
     href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give">
     what information you need to give
   </a>.
</p>

<p class="govuk-body">
  Some spent cautions and convictions are <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/government/publications/dbs-filtering-guidance">'protected' or 'filtered'</a> and will not show up on a standard or enhanced criminal record check.
</p>
