<h3 class="govuk-heading-s">
  If a basic criminal record check is requested
</h3>

<p class="govuk-body">
  When a caution or conviction is spent you do not need to tell people about it, or the offence that led to it, if
  they request a
  <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#basic-dbs-checks">basic
    criminal record check</a>.
</p>

<h3 class="govuk-heading-s">
  If a standard or enhanced criminal record check is requested
</h3>

<p class="govuk-body">
  You will need to tell people about spent cautions or convictions if they request a
  <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#standard-dbs">standard
    or enhanced criminal
    record check</a>.
</p>

<p class="govuk-body">
  Some spent cautions and convictions are <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/government/publications/dbs-filtering-guidance">'protected' or 'filtered'</a> and will not show up on a standard or enhanced criminal record check.
</p>

