<% if caution_type.youth? %>

  <h3 class="govuk-heading-s">
    If a basic or standard criminal record check is requested
  </h3>

  <p class="govuk-body">
    You don’t need to tell people about this caution, reprimand or warning once it is spent, as you were under 18 when
    you received it. It won’t appear on a
    <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#basic-dbs">basic
      or standard criminal record check</a>.
  </p>

  <h3 class="govuk-heading-s">
    If an enhanced criminal record check is requested
  </h3>

  <p class="govuk-body">
    You probably won’t need to tell people about this caution, reprimand or warning once it is spent, as you were under
    18 when you received it.
  </p>

  <p class="govuk-body">
    However, some kinds of jobs may need you to give details of all cautions, reprimands and warnings even when they are
    spent. Read more about
    <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#enhanced-dbs">enhanced
      criminal record checks</a>.
  </p>

<% else %>

  <%= render partial: 'steps/check/results/shared/meaning' %>

<% end %>
