<% if caution_type.youth? %>
  <h2 class="govuk-heading-m">
    If a basic or standard criminal record check is requested
  </h2>

  <p class="govuk-body">
    You don’t need to tell people about this caution, reprimand or warning once
    it is spent, as you were under 18 when you received it.
    It won’t appear on a basic or standard criminal record check.
  </p>

  <h2 class="govuk-heading-m">
    If an enhanced criminal record check is requested
  </h2>

  <p class="govuk-body">
    You probably won’t need to tell people about this caution, reprimand or warning once it is spent, as you were under 18 when you received it.
  </p>

  <p class="govuk-body">
    However, some kinds of jobs may need you to give details of all cautions, reprimands and warnings even when they are spent.
  </p>

  <p class="govuk-body">
    Read more about DBS checks and
    <a class="govuk-link" rel="external" target="_blank"
       href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give">
       what information you need to give
     </a>.
  </p>
<% else %>
  <%= render partial: 'steps/check/results/shared/meaning' %>
<% end %>
