<h2 class="govuk-heading-m">
  Your driving record
</h2>

<p class="govuk-body">
  This tool and your results tell you whether cautions or convictions are spent, but insurance companies may also check your driving record (as well as your criminal record).
</p>

<p class="govuk-body">
  You can <a class="govuk-link" href="https://www.gov.uk/view-driving-licence" rel="external" target="_blank">view your driving record</a> to find out what information the DVLA holds about you.
</p>





