<h2 class="govuk-heading-m">
  Your driving record
</h2>

<p class="govuk-body">
  This checker tells you whether cautions or convictions are spent. However, some motoring endorsements stay on your driving record after the caution or conviction is spent.
</p>

<p class="govuk-body">
  Your driving record is maintained by the Driver and Vehicle Licensing Agency (DVLA). You can <a href="https://www.gov.uk/view-driving-licence" class="govuk-link" rel="external" target="_blank">view your driving licence information</a>, including your driving record, on GOV.UK.
</p>

<p class="govuk-body">
  You can find out more about <a href="https://www.gov.uk/penalty-points-endorsements" class="govuk-link" rel="external" target="_blank">penalty points</a> on GOV.UK.
</p>
