<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= title_string(result.expiry_date, result.check_kind) %>
  </h1>
  <div class="govuk-panel__body">
    <%= statement_string(result.expiry_date, result.check_kind) %>
  </div>
</div>
