<h2 class="govuk-heading-m">
  How this result has been worked out
</h2>

<p class="govuk-body">
  <% if result.approximate_dates? %>
    You entered an approximate date so your results will be approximate.
  <% end %>

  Your results are based on the current law as well as the information you provided.
</p>

<dl class="govuk-summary-list">
  <%= render result.summary %>
</dl>

<% if result.time_on_bail? %>
  <h2 class="govuk-heading-m">
    Time spent on bail with an electronic tag
  </h2>

  <p class="govuk-body">
    Your result and spent date include the number of days you said you spent on bail with an electronic tag that counted
    towards your sentence. Each full day offsets a day from the total length of your sentence.
  </p>
<% end %>
