<dl class="govuk-summary-list">
  <%= render result.summary %>
</dl>

<p class="govuk-body">
  If you need to change any information, you
  can <%= link_to 'use the service again', root_path, class: 'govuk-link govuk-link--no-visited-state ga-pageLink', data: { ga_category: 'results', ga_label: 'new check' } %>.
</p>
