<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object do |f| %>
        <%= f.govuk_collection_radio_buttons :under_age, GenericYesNo.values, :value, nil,
              legend: { text: f.i18n_legend }, hint_text: f.i18n_hint %>

        <%= f.continue_button %>
    <% end %>
  </div>
</div>
