<% title "Sorry, you can't use this service yet" %>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, you can't use this service yet</h1>

        <p class="govuk-body-l">
          This service is in beta. At the moment, it can only be used to check when a caution expires.
        </p>
        <p class="govuk-body-l">
         You’ll be able to check when a conviction expires later this year.
        </p>

        <h2 class="govuk-heading-l">What to do now</h2>

        <p class="govuk-body-l">
          You can use <a class="govuk-link" href='http://www.disclosurecalculator.org.uk'>Unlock’s disclosure calculator</a> to work out when your conviction expires.
        </p>

      </div>
    </div>

  </main>
</div>
