<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%=t "caution_results_html.#{row.question}.question" %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%=t "caution_results_html.#{row.question}.answers.#{row.value}", default: row.value %>
  </dd>
</div>
