<% title 'Accessibility' %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper"  id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility</h1>

        <h2 class="govuk-heading-m">Using this online tool</h2>

        <p class="govuk-body">This online tool is run by the Ministry of Justice. We want as many people as possible to be able to use it.</p>

        <p class="govuk-body">For example, that means you should be able to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>navigate most of the online tool using just a keyboard</li>
          <li>navigate most of the online tool using speech recognition software</li>
        </ul>

        <p class="govuk-body">We've also made the text as simple as possible to understand.</p>

        <p class="govuk-body"><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" rel="external" target="_blank">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

        <h2 class="govuk-heading-m">About the accessibility of this online tool</h2>

        <p class="govuk-body">We used components in the GOV.UK Design System to build this tool. The <a class="govuk-link" href="https://design-system.service.gov.uk/accessibility/" rel="external" target="_blank">Design System</a> accessibility guide explains the current state of accessibility for these components.</p>

        <p class="govuk-body">Basic tests were performed on this online tool on 9 October 2019. These tests were carried out by the Ministry of Justice.</p>

        <p class="govuk-body">We tested the home page, the privacy policy, the terms and conditions and the results page. We also tested the stages of the tool that require the most interaction, these are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>What type of conviction did you get?</li>
          <li>When did the detention start?</li>
        </ul>

        <p class="govuk-body">Finally, we tested cookies and the third-party supplier feedback survey page.</p>

        <h2 class="govuk-heading-m">What to do if you cannot access parts of this online tool</h2>

        <p class="govuk-body">If you need information on this online tool in a different format like an accessible PDF, large print, easy read, audio recording or braille, email <a class="govuk-link" href="mailto:disclosure.checker@digital.justice.gov.uk">disclosure.checker@digital.justice.gov.uk</a>.</p>

        <h2 class="govuk-heading-m">Technical information about this online tool's accessibility</h2>

        <p class="govuk-body">The Ministry of Justice is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <p class="govuk-body">This online tool is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" rel="external" target="_blank">Web Content Accessibility Guidelines version</a> 2.1 AA standard, due to the non-compliances listed below.</p>

        <h2 class="govuk-heading-m">Non accessible content</h2>

        <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Third-party supplied feedback form</li>
        </ul>

        <h2 class="govuk-heading-m">Non compliance with the accessibility regulations</h2>

        <p class="govuk-body">This online tool uses a third-party supplied service to collect feedback.</p>

        <p class="govuk-body">This third-party supplied service is ‘skinned' to look like our website, but some parts of it do not meet <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" rel="external" target="_blank">Web Content Accessibility Guidelines version 2.1</a> standards because:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>incorrect heading tags are used</li>
          <li>clicking the labels does not move the cursor into the corresponding text area</li>
          <li>when using the keyboard, the radio button becomes invisible</li>
        </ul>

        <p class="govuk-body">The third-party supplied feedback form is one part of our overall approach to collecting feedback, including face-to-face interviews carried out with users in testing. We'll continue to carry out further user testing as we develop the service. We plan to reassess the feedback form by April 2020, before the full version of this online tool is live.</p>

        <h2 class="govuk-heading-m">Reporting accessibility problems</h2>

        <p class="govuk-body">We're always looking to improve the accessibility of this online tool. If you find any problems not listed on this page or you think we're not meeting accessibility requirements, contact <a class="govuk-link" href="mailto:disclosure.checker@digital.justice.gov.uk">disclosure.checker@digital.justice.gov.uk</a>.</p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>

        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations'). If you're not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/" rel="external" target="_blank">contact the Equality Advisory and Support Service (EASS)</a>.</p>

        <p class="govuk-body">This statement was prepared on 24 October 2019.</p>

        <p class="govuk-body">It was last updated on 28 October 2019.</p>
      </div>
    </div>
  </main>
</div>
