<% title 'Privacy notice' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Privacy notice</h1>
        <p class="govuk-body">This privacy notice explains what the Ministry of Justice (MOJ) means when we talk about personal data, why we ask for this information about you and what we do with it when you use the ‘<%= service_name -%>’ online service.</p>
        <p class="govuk-body">TODO: Add in appropriate content</p>
      </div>
    </div>
  </main>
</div>
