<% title 'Privacy notice' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper"  id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Privacy notice</h1>
        <p class="govuk-body">This service is completely anonymous to use. Users are not asked for any personal information that could be used to identify them (such as their name, address or prisoner number).</p>

        <h2 class="govuk-heading-m">Making a complaint</h2>

        <p class="govuk-body">When we ask you for information, we will keep to the law. If you think that your information has not been handled correctly, you can contact the Information Commissioner for independent advice about data protection on the address below:</p>

        <div class="govuk-inset-text">
          <address class="adr no-italic">
            <div class="extended-address">Information Commissioner's Office,</div>
            <span class="extended-address">Wycliffe House,</span>
            <span class="street-address">Water Lane,</span>
            <div class="locality">Wilmslow,</div>
            <span class="region">Cheshire,</span>
            <span class="postal-code">SK9 5AF</span>
          </address>

          <div class="govuk-!-margin-top-3">
            <div class="tel">Tel: 0303 123 1113</div>
            <div>
              <a class="govuk-link" href="https://www.ico.org.uk" rel="external" target="_blank">www.ico.org.uk</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
