<% title 'Privacy notice' %>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="grid_content_header">
            <h1 class="app__heading  heading-xlarge gv-u-heading-xxlarge">Privacy notice</h1>
        </div>

        <p>
            This privacy notice explains what the Ministry of Justice (MOJ) means when we talk about personal data, why
            we ask
            for this information about you and what we do with it when you use the ‘<%= service_name -%>’ online
            service.
        </p>

        <p>TODO: Add in appropriate content</p>
    </div>
</div>