<% title 'Terms and conditions' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Terms and conditions</h1>
        <p class="govuk-body">By using this service you agree to these terms and conditions.</p>

        <h2 class="govuk-heading-m">About the service</h2>

        <p class="govuk-body"><%= service_name -%> is a service provided by the Ministry of Justice (MoJ).</p>
        <p class="govuk-body">Its purpose is to help users work out whether or not they need to tell organisations (such as employers, places of education or insurance companies) about a caution or conviction on their criminal record.</p>
        <p class="govuk-body">The service gives users guidance on when a single caution or conviction expires (becomes ‘spent’) according to the current law in England and Wales.</p>
        <div class="govuk-inset-text">
          If you have more than one conviction, the guidance the service gives may not apply to you.
        </div>
        <p class="govuk-body">If you have been given another conviction during your rehabilitation period, or if you are applying for certain sensitive jobs, the guidance will not apply.</p>


        <h2 class="govuk-heading-m">How the service works</h2>
        <p class="govuk-body">The service asks users for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the type of caution or conviction they were given</li>
          <li>the date they were cautioned or convicted</li>
          <li>their age when cautioned or convicted</li>
        </ul>
        <p class="govuk-body">This information is checked against the current law and users are given the date the conviction expires.</p>
        <p class="govuk-body">Some organisations will still need to know about cautions and convictions that have expired, depending on the application that’s being made.</p>


        <h2 class="govuk-heading-m" id="using-guidance">Using the guidance the service gives you</h2>

        <p class="govuk-body">As the service does not ask for specific details about users’ criminal records, it can only give general guidance on when cautions or convictions become spent in England and Wales.</p>

        <div class="govuk-inset-text">
          <p class="govuk-body">If you will be using the guidance given by this service to decide whether or not to disclose a caution or conviction on your criminal record, you are strongly advised to consider getting specific professional or legal advice before doing so.</p>
        </div>


        <h2 class="govuk-heading-m">Our responsibilities</h2>

        <p class="govuk-body">The expiry date given at the end of the service is based solely on the information provided by the service user.</p>
        <p class="govuk-body">If any of the information a user inputs is incorrect, the date given at the end might also be incorrect.</p>
        <p class="govuk-body">MoJ is not responsible for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>people disclosing their expired cautions or convictions when they weren’t required to</li>
          <li>how and when employers ask for information about people’s criminal records</li>
        </ul>
      </div>
    </div>
  </main>
</div>
