<%% title t('.page_title') %>
<%% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%%= govuk_error_summary %>

    <!-- The header is part of the radios legend by default, but can be configured -->

    <%%= step_form @form_object do |f| %>
      <%%= f.radio_button_fieldset :<%= step_name.underscore %>, inline: true, choices: GenericYesNo.values %>
      <%%= f.continue_button %>
    <%% end %>
  </div>
</div>
