
<% content_for(:head) do %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<% content_for(:content) do %>
  <main id="content" role="main">
    <%= render partial: 'layouts/phase_banner' %>

    <%= yield %>
  </main>
<% end %>

<%= render file: 'layouts/govuk_template' %>