<% title t('.page_title') %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

        <%= link_button :resume_check, previous_step_path, class: 'govuk-button govuk-!-margin-right-3 ga-pageLink',
                        data: { module: 'govuk-button', ga_category: 'in progress warning', ga_label: 'resume check' } %>

        <%= link_button :restart_check, root_path(new: 'y'), class: 'govuk-button govuk-button--secondary ga-pageLink',
                        data: { module: 'govuk-button', ga_category: 'in progress warning', ga_label: 'new check' } %>

      </div>
    </div>

  </main>
</div>
